@font-face {
  font-family: "PressStart2P";
  src: url("./assets/fonts/PressStart2P.ttf");
}

body {
  background-color: #000;
  color: #fff;
  // font-family: "PressStart2P", monospace;
  font-family: sans-serif;
}
