@font-face {
  font-family: "PressStart2P";
  src: url("./assets/fonts/PressStart2P.ttf");
}

body {
  background-color: #000;
  color: #fff;
  // font-family: "PressStart2P", monospace;
  font-family: sans-serif;
}

canvas {
  -webkit-font-smoothing: none;
  image-rendering: optimizeSpeed;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.camera-debug-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
}
